@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}
hr{
    height: 2px;
    background-color: var(--very-dark-blue3);
    border: none;
    margin-top: 15px;
}
:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);


    /* (main BG) */
    --very-dark-blue: hsl(217, 54%, 11%);
    /* (card BG) */
    --very-dark-blue2: hsl(216, 50%, 16%);
    /* (line) */
    --very-dark-blue3: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-size: 18px;
    background-color: var(--very-dark-blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 450px;
    width: 250px;
    background-color: var(--very-dark-blue2);
    border-radius: 10px;
    padding: 15px;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}
.image-part{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.2s all ease-in-out;
}
.view{
    position: absolute;
    background-color: hsl(178, 100%, 50%, 60%);
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.view img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
}
.view:hover{
    opacity: 1;
}
.image-main{
    object-fit: cover;
    height: 200px;
    border-radius: 10px;
}
.heading{
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}
.para{
    font-size: 12px;
    color: var(--soft-blue);
    font-weight: 300;
    margin-top: 10px;
}
.eth .icon-desc{
    color: var(--cyan);
    font-weight: 600;
    font-size: 12px;
}
.eth{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.time .icon-desc{
    color: var(--soft-blue);
    font-weight: 400;
    font-size: 12px;
}
.time{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.icon-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.avatar{
    height: 40px;
    width: 40px;
}
.avatar-text{
    font-weight: 300;
    font-size: 15px;
    color: var(--soft-blue);
}
.avatar-text span{
    font-weight: bold;
    color: var(--white);
    font-size: 15px;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.heading:hover, span:hover{
    color: var(--cyan);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--soft-blue); }